mat-card {
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}

mat-form-field {
  display: block;
  width: 80%;
  margin: 1em auto;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 1em;
  padding-bottom: 20px;
}
